{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes(['success','error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{form_start(form,{action:path('user_create'), method:'POST'}) }}
        {{ form_widget(form) }} 
        <button type="submit">submit</button>
    {{form_end(form, {render_rest : false}) }}
{% endblock %}

