{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                <td style="font-size:7px;">{{user.id}}</td>
                <td style="font-size:7px;">{{user.username}}</td>
                <td style="font-size:7px;">{{user.name}}</td>
                <td style="font-size:7px;">{{user.email}}</td>
                <td style="font-size:7px;">{{user.enable}}</td>
                <td style="font-size:7px;">{{user.birthdate|date('Y-m-d')}}</td>
                <td style="font-size:7px;">{{user.address}}</td>
                <td>
                    <a href="{{ path('user_update',{ id:user.id }) }}" >Edit<a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}