<html>
  <body>
    <header></header>


    {% for label,messages in app.flashes(['success','error'])%}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %} 
    <ul>
        <li> <a href={{path('bankaccount_table')}}> create bank_accounts table </a> </li>
        <li> <a href={{path('address_table')}}> create addresses table </a> </li>
        <li> <a href={{path('persons_table')}}> create persons table </a> </li>
        <li> <a href={{path('persons_create')}}> create persons </a> </li> 
        <li> <a href={{path('persons_show')}}> show table </a> </li> 
        <li> <a href={{path('alternate')}}> alternate table </a> </li> 
    </ul>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer></footer>
  </body>
</html>
