{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                {% for value in user %}
                    <td style="font-size:7px;">{{value}}</td>
                {% endfor %}
                <td>
                    <a href="/user/delete/{{ user.id }}" >Delete<a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}