{% extends 'base.html.twig' %}
{% block content %}
  <h2>Formulaire avec Form Component</h2>

  {{ form_start(form) }}
    {{ form_row(form.message) }}
    {{ form_row(form.timestamp) }}
    <button type="submit">Envoyer</button>
  {{ form_end(form) }}
  {% if lastline %}
    {{lastline}}
  {% endif %}

{% endblock %}
